<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RECOREPO</title>
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/js/adminLTE.min.js"></script>

    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/waitingFor.js"></script>

    <!-- Datatables -->
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/dataTables.select.min.js"></script>
    <script src="~/Content/js/dataTables.responsive.min.js"></script>
    <!-- Datatables - botones -->
    <script src="~/Content/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/js/jszip.min.js"></script>
    <script src="~/Content/js/buttons.html5.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WEBIR</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>